<div class="formulario-perfil">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-16">
                <form [formGroup]="formularioPerfil" (ngSubmit)="submitForm()">
                    <h2>Perfil</h2>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="nombrePerfil" class="form-label">Nombre Nuevo Perfil</label>
                            <input type="text" id="nombrePerfil" [(ngModel)]="perfilName" class="form-control"
                                formControlName="nombrePerfil" maxlength="15">
                            <div
                                *ngIf="formularioPerfil.get('nombrePerfil')?.invalid && (formularioPerfil.get('nombrePerfil')?.dirty || formularioPerfil.get('nombrePerfil')?.touched)">
                                <p class="text-danger"
                                    *ngIf="formularioPerfil.get('nombrePerfil')?.hasError('required')">
                                    Debe
                                    ingresar un
                                    nombre de perfil.</p>
                                <p class="text-danger"
                                    *ngIf="formularioPerfil.get('nombrePerfil')?.hasError('SoloLetras')">
                                    Debe contener solo letras.</p>
                                <p class="text-danger"
                                    *ngIf="formularioPerfil.get('nombrePerfil')?.hasError('invalidLength')">
                                    Debe tener una
                                    longitud mínima, al menos 5 caracteres y máximo 15.</p>
                            </div>
                            <div class="row">

                            </div>
                            <div class="d-flex justify-content-center"
                                style="flex-direction: column; margin-top: 10px;">
                                <button type="submit" class="btn btn-primary"
                                    [disabled]="!formularioPerfil.valid">Agregar</button>
                            </div>
                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>
                </form>


                <div class="d-flex justify-content-center" style="flex-direction: column;">
                    <div *ngIf="Perfiles && Perfiles.length > 0; else noData">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Código</th>
                                    <th scope="col">Nombre Perfil</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let perfil of Perfiles">
                                    <th scope="row">{{perfil.perfilCod}}</th>
                                    <td>{{perfil.perfilName}}</td>
                                    <td>
                                        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                                            <button class="btn btn-outline-primary" (click)="modificar(perfil)"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                                    <path
                                                        d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                                                </svg></button>
                                            <button class="btn btn-outline-danger" (click)="eliminar(perfil)"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                    <path
                                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z">
                                                    </path>
                                                    <path
                                                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z">
                                                    </path>
                                                </svg></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <ng-template #noData>
                    <p>No hay datos disponibles</p>
                </ng-template>
            </div>
        </div>
    </div>
</div>