<div class="formulario-qs">
    <main>
        <h1>Quienes Somos</h1>
        <article>
            <h4>Bienvenidos a Intercambio de Libros Online</h4>
            <p>
                Somos una comunidad de amantes de la lectura que busca promover el intercambio de libros y la conexión
                entre personas que comparten pasiones similares. Nuestra misión es crear un espacio virtual donde puedas
                encontrar, intercambiar y descubrir nuevos libros, autores y géneros.
            </p>
            <h4>Nuestro objetivo</h4>
            <p>
                Es facilitar el acceso a una amplia variedad de libros, fomentar la lectura y el intercambio de ideas, y
                crear una red de personas que se apasionan por la literatura.
            </p>
            <h4>Valores</h4>
            <p>
                <li>Promover la cultura de la lectura y el intercambio de conocimientos</li>
                <li>Fomentar la comunidad y la conexión entre lectores</li>
                <li>Ofrecer una plataforma segura y fácil de usar</li>
                <li>Celebrar la diversidad de géneros y autores</li>
            </p>
            <h4>¿Qué nos inspira?</h4>
            <p>
                La idea de que un libro puede cambiar una vida, y que la lectura puede unir a personas de todas partes
                del mundo.
            </p>
            <p>
                Únete a nuestra comunidad
            </p>
            <p>
                Registra tu cuenta hoy mismo y comienza a explorar, intercambiar y disfrutar de los mejores libros.
            </p>
        </article>
    </main>
</div>